.App{
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#97ddf0,rgb(244, 158, 199),#8ed3e7);
}
.App-header{
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 20px;
}
.lable{
  font-size: 30px;
}
.Input-field{
  width: 270px;
  height: 50px;
  margin: 15px 0;
  border: 3px solid black;
  border-radius: 25px;
  font-size: 25px;
}
.btn{
  width: 250px;
  height: 60px;
  border: 3px solid black;
  margin: 30px;
  border-radius: 25px;
  background-color: #97ddf0;
  font-size: 30px;
}
.container{
  width: 1200px;
  background-color:#8ed3e7;
  border: 4px solid black;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.box{
  width: 500px;
  height: 70px;
  margin: 35px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 20px;
  font-size: 20px;
  background-color: rgb(226, 119, 140);
  line-height: 70px;
}
.btn2{
  width: 250px;
  height: 60px;
  border: 3px solid black;
  margin-top: 100px;
  border-radius: 25px;
  background-color: #97ddf0;
  font-size: 30px;
}